.navbar {
  background-color: black !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.active {
  color: beige !important;
  font-weight: lighter;
}

.nav-link:hover {
  transform: scale(1.3);
}

.navbar-brand:hover {
  transform: scale(1.3);
  color: beige;
}

.img-wsp:hover {
  color: green;
  transform: scale(1.3);
}

.bi-whatsapp {
  color: green;
  background-color: white;
  border-radius: 50%;  
}

.img-wsp {
  color: green;
}

.navbar-brand,
.navbar-nav .nav-link {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  color: beige;
  font-size: 30px;
  font-weight: bold;
}

.contacto { 
  font-size: 18px;
  font-weight: bold;
  color: red;
}

.nav-link .bi-whatsapp {
  width: 40px;
  height: 40px;
  margin-right: 50px;
}

.tudo {
  margin-right: 20px;
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  background-color: gray;
  border-radius: 2rem;}

@media screen and (max-width:575px) {
  .container-fluid {
    width: 90%;
  }}