.container {
    margin-top: 30px;
    color: beige;
    display: flex;
   }

.pic {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width:575px){
.pic {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
    width: 90%;
    gap: 10px;
}

}



